#header{
    width: 100%;
    height: 100px;
    position: relative;
}
#menu{
    width: 40%;
    height: 36px;
    position: absolute;
    left: 5%;
    top: 20px;
}
#menu span{
    font-size: 12px ;
    margin-left:3px;
}
#logo{
    width: 20%;
    height: 73px;
    position: absolute;
    top:10px;
    left:45%;
}
#logo img{
    width: 73px;
}
#register{
    position: absolute;
    top: 20px;
    right: 0;
    width:15%;
}
#register #xing{
    font-size:16px;
}
#register .dr{
    text-decoration: none;
    color:#b89f7a;
    font-size:16px;
}
#img #pacture_one,#img #pacture_two{
    width: 100%;
    display: block;

}
#img #pacture_two{
    display: none;
}
#img{
    position: relative;
    border:0;
}
#img #ad{
    display: block;
    width: 40px;
    text-align:center;
    font-size: 16px;
    background: #000;
    color: white;
    position: absolute;
    top: 30px;
    right: 40px;
}
#img #ad_know{
    color: white;
    font-size:16px;
    position: absolute;
    bottom: 5px;
    right: 10px;
}
#ad_know_ss{
    color: white;
    text-decoration:none ;
}
#content{
    width: 100%;
    background: #0f0f0f;
}

#content #rewarders{
    width: 350px;
    height: 220px;

}
#star{
    color: white;
    font-size:18px;
}
#reward{
    position: absolute;
    top: 80px;
    left: 80px;

}
#reward_star{
    /*float: right;*/
    /*/*margin-top:40px;*/
    position: absolute;
    top: 10px;
    right:8px;
    background: #0f0f0f;
}
#reward_star #reward_star_word_1{
    font-size:25px;
    color: white;
}
#reward_star #reward_star_word_2{
    font-size:17px;
    color: white;
}
#log{
    position: absolute;
    right: 90px;
    bottom: 40px;
}
#log .log_register_word{
    /*display: block;*/
    width: 120px;
    height: 50px;
    margin-right:10px;
    background: white;
    border:4px solid #a98e67;
    color: #a98e67;
    font-size:16px;
    text-align: center;
    float: left;
    line-height: 50px;
}
#know{
    position: absolute;
    right: 0;
    bottom: 40px;
}
#log_register_know{
     color: #a98e67;
     text-decoration:none ;
    font-size:16px;
}
#log_register_know .dr{
    color: #a98e67;
    text-decoration:none ;
    font-size: 16px;
}
#app{
    width: 100%;
    height: 220px;
    background:url("../img/app_bg.gif") repeat scroll center;
    position: relative;
}
#app #app_bg{
    /*width: 350px;*/
    /*height: 220px;*/
    margin:0 auto;
    float: left;
}
#app_bg #app_phone{
    width: 350px;
    height: 220px;
    background: url("../img/app.png")center bottom no-repeat;
    background-size: contain;

}
#erweima{
    width: 242px;
    height: 220px;
    float: left;
}
#erweima #erweima_star{
    width: 130px;
    height: 130px;
    background: url("../img/app_erweima.png");
    background-size: contain;
}
#erweima_phone{
    width: 242px;
    height: 75px;
    position: relative;
}
#erweima_phone #erweima_load{
    color: #2d2d2d;
    border-left:1px solid #000000;
    position: absolute;
    right: 0;
    bottom: 10px;

}
#app #erweima_introduce{
    position: absolute;
    right: 0;
    top:60px;
}
#app #erweima_introduce_word{
    font-size:28px;
}
#knowmore{
    position: absolute;
    right: 420px;
    bottom: 50px;
}
#knowmore #knowmore_something{
    color: #a98e67;
    font-size: 16px;
}
#banner{
    width: 100%;
    height: 250px;
    display: block;
}
#banner_word{
    display: none;
}

#summer_green{
    width: 50%;
    float: left;
}
#summer_black{
    width: 50%;
    float: left;
}







@media(max-width:899px){
    #logo img{
        width: 65px;
        height: 65px;
    }
    #register #xing,#register #huo{
        font-size:12px;
    }
    #register .dr{
        font-size:12px;
    }
    #img #ad{
        top:10%;
        right:10%;
    }

}
@media(max-width: 989px){
    #img #pacture_one{
        display: none;
    }
    #img #pacture_two{
        display: block;
    }
}
@media(max-width: 799px){
    #content .warpper{
        width: 100%;
        height: 500px;
    }
    /*#content #rewarders{*/
        /*width: 100%;*/
    /*}*/
    #content #reward{
        position: absolute;
        top: 5%;
        left: 30%;
        right: 30%;
    }
    #content #reward_star{
        width: 80%;
        position: absolute;
        left: 10%;
        right: 10%;
        top:220px;
    }
    #content #log{
        width: 76%;
        position: absolute;
        left: 12%;
        right: 12%;
    }
    #content #log .log_register_word{
        width: 100%;
        margin-top:10px;
        margin-left:2%;
        margin-right:2%;
    }
    #content #log #log_register_know{
        position: absolute;
        bottom: 1%;
        right: 2%;
    }
    #know{
        position: absolute;
        bottom: 1%;
        right: 2%;
    }
}
@media (max-width: 639px) {
    #banner{
        display: none;
    }
    #banner_word{
        display: block;
    }
    
}

@media (max-width: 769px) {
    #summer_green, #summer_black{
        width: 100%;
    }
}