<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="app">
        <!--<ul>-->
            <!--&lt;!&ndash;<li v-for="(val,index) in arr">&ndash;&gt;-->
                <!--&lt;!&ndash;{{val}},{{index}}&ndash;&gt;-->
                <!--&lt;!&ndash;<a href="">{{val}} </a>&ndash;&gt;-->
            <!--&lt;!&ndash;</li>&ndash;&gt;-->
            <!--<li v-for="n in 10">-->
                <!--{{n}}-->
            <!--</li>-->
        <!--</ul>-->
        <ul>
            <!--<li v-for="(val,aa,bb) in obj">-->
                <!--&lt;!&ndash;(值，键，index)&ndash;&gt;-->
                <!--{{val}},{{aa}},{{bb}}-->

            <!--</li>-->
            <!--直接通过索引操作数组的方式不能更新视图-->
            <!--解决方法Vue.set()-->
            <li v-for="val in arr">
                {{val}}

            </li>
        </ul>
        <!--<template v-for="n in 3">-->
            <!--<p>ppp</p>-->
            <!--<h1>ssss</h1>-->
            <!--<span>hhhhhhh</span>-->
        <!--</template>-->
    </div>

</body>
<script  src='vue.js'></script>
<script>
    var vm = new Vue({
        el:'#app',
        data:{
            arr:[1,2,3],
            obj:{
                a:1,
                b:2,
                c:3
            }
        }
    })
</script>
</html>